<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-diplome-heading" data-cy="DiplomeCreateUpdateHeading">Create or edit a Diplome</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_nameDipl">Name Dipl</label>
          <input type="text" class="form-control" name="nameDipl" id="field_nameDipl" data-cy="nameDipl" formControlName="nameDipl" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_etudiant">Etudiant</label>
          <select class="form-control" id="field_etudiant" data-cy="etudiant" name="etudiant" formControlName="etudiant">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="etudiantOption.id === editForm.get('etudiant')!.value?.id ? editForm.get('etudiant')!.value : etudiantOption"
              *ngFor="let etudiantOption of etudiantsCollection; trackBy: trackEtudiantById"
            >
              {{ etudiantOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_matiere">Matiere</label>
          <select class="form-control" id="field_matiere" data-cy="matiere" name="matiere" formControlName="matiere">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="matiereOption.id === editForm.get('matiere')!.value?.id ? editForm.get('matiere')!.value : matiereOption"
              *ngFor="let matiereOption of matieresCollection; trackBy: trackMatiereById"
            >
              {{ matiereOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
