<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="assessment">
      <h2 data-cy="assessmentDetailsHeading"><span>Assessment</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ assessment.id }}</span>
        </dd>
        <dt><span>Date</span></dt>
        <dd>
          <span>{{ assessment.date | formatMediumDate }}</span>
        </dd>
        <dt><span>Coef Cont</span></dt>
        <dd>
          <span>{{ assessment.coefCont }}</span>
        </dd>
        <dt><span>Type</span></dt>
        <dd>
          <span>{{ assessment.type }}</span>
        </dd>
        <dt><span>Subject</span></dt>
        <dd>
          <div *ngIf="assessment.subject">
            <a [routerLink]="['/subject', assessment.subject?.id, 'view']">{{ assessment.subject?.nameMat }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/assessment', assessment.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
