<div>
  <h2 id="page-heading" data-cy="MatiereHeading">
    <span>Matieres</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-matiere"
        [routerLink]="['/matiere/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Matiere </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="matieres?.length === 0">
    <span>No matieres found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="matieres && matieres.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nameMat"><span>Name Mat</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="coefMat"><span>Coef Mat</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="diplome.nameDipl"><span>Diplome</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let matiere of matieres; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/matiere', matiere.id, 'view']">{{ matiere.id }}</a>
          </td>
          <td>{{ matiere.nameMat }}</td>
          <td>{{ matiere.coefMat }}</td>
          <td>
            <div *ngIf="matiere.diplome">
              <a [routerLink]="['/diplome', matiere.diplome?.id, 'view']">{{ matiere.diplome?.nameDipl }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/matiere', matiere.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/matiere', matiere.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(matiere)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
