<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="diplome">
      <h2 data-cy="diplomeDetailsHeading"><span>Diplome</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ diplome.id }}</span>
        </dd>
        <dt><span>Name Dipl</span></dt>
        <dd>
          <span>{{ diplome.nameDipl }}</span>
        </dd>
        <dt><span>Etudiant</span></dt>
        <dd>
          <div *ngIf="diplome.etudiant">
            <a [routerLink]="['/etudiant', diplome.etudiant?.id, 'view']">{{ diplome.etudiant?.id }}</a>
          </div>
        </dd>
        <dt><span>Matiere</span></dt>
        <dd>
          <div *ngIf="diplome.matiere">
            <a [routerLink]="['/matiere', diplome.matiere?.id, 'view']">{{ diplome.matiere?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/diplome', diplome.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
