<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="obtient">
      <h2 data-cy="obtientDetailsHeading"><span>Obtient</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ obtient.id }}</span>
        </dd>
        <dt><span>Note</span></dt>
        <dd>
          <span>{{ obtient.note }}</span>
        </dd>
        <dt><span>Controle</span></dt>
        <dd>
          <div *ngIf="obtient.controle">
            <a [routerLink]="['/controle', obtient.controle?.id, 'view']">{{ obtient.controle?.date }}</a>
          </div>
        </dd>
        <dt><span>Etudiant</span></dt>
        <dd>
          <div *ngIf="obtient.etudiant">
            <a [routerLink]="['/etudiant', obtient.etudiant?.id, 'view']">{{ obtient.etudiant?.firstname }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/obtient', obtient.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
